<!DOCTYPE html>
<html>
<head>
	<title>Problem Solution Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="problem-text">
		Sum of numbers
	</div>
	
	<select id="language-select">
		<option value="java" selected>Java</option>
        <option value="js">JavaScript</option>
		<option value="py">Python</option>
		<option value="cpp">C++</option>
	</select>
	

	<textarea id="solution-area" class="solution-area" placeholder="Enter your solution here"></textarea>
	<div id="report">
		<p id="report-status"></p>
		<p id="report-message"></p>
	</div>
	<button id="submit-button" class="submit-button">Submit</button>
	
	<script src="index.js"></script>
</body>
</html>
